.imgContainer {
    height: 200px;
    overflow: hidden;
}

.card-img {
    position: relative;
    height: 200px;
    background-size: cover;
    z-index: 0;
    transition: transform 0.5s ease-in-out;
}

.card-img:hover {
    transform: scale(1.4);
}

.card-1 {
    background-image: url(img/min/4499503_dakar_03_02.jpg);
    background-position: 0 70%;
}
.card-2 {
    background-image: url(img/min/4499509_dakar_09_02.jpg);
}
.card-3 {
    background-image: url();
}
.card-4 {
    background-image: url(img/min/4485101_yaiza_0_02.jpg);
}
.card-5 {
    background-image: url(img/min/4485108_yaiza_08_02.jpg);
}
.card-6 {
    background-image: url(img/min/4485206_cullera_06_02.jpg);
}
.card-7 {
    background-image: url(img/min/4485631_malibu_31_02.jpg);
}
.card-8 {
    background-image: url(img/min/4489712_cactus_12_02.jpg);
}
.card-9 {
    background-image: url(img/min/4489803_bari_03_02.jpg);
}
.card-10 {
    background-image: url(img/min/4490812_hidro_12_02.jpg);
}
.card-11 {
    background-image: url(img/min/4499603_cambrils_03_02.jpg);
}
.card-12 {
    background-image: url(img/min/4499805_gandia_05_02.jpg);
}
.card-13 {
    background-image: url(img/min/4402201_koala_01_02.jpg);
}
.card-14 {
    background-image: url();
}
.card-15 {
    background-image: url();
}
.card-16 {
    background-image: url();
}
.card-17 {
    background-image: url(img/min/4494505_gomera_05_02.jpg);
}
.card-18 {
    background-image: url(img/min/4494507_gomera_07_02.jpg);
}
.card-19 {
    background-image: url(img/min/4496423_sumatra_23_02.jpg);
}
.card-20 {
    background-image: url(img/min/4483212_metropolitan_12_02.jpg);
}
.card-21 {
    background-image: url(img/min/4483412_brithish_12_02.jpg);
}
.card-22 {
    background-image: url(img/min/4427608_cares-boa-hi-vis_08_02.jpg);
}
.card-23 {
    background-image: url(img/min/4452003_urales_03_02.jpg);
}
.card-24 {
    background-image: url(img/min/4452103_canada_03_02.jpg);
}
.card-25 {
    background-image: url();
}
.card-26 {
    background-image: url(img/min/4429301_country-hi-vis_01_02.jpg);
}
.card-27 {
    background-image: url(img/min/4404653_mulhacen_53_02.jpg);
}
.card-28 {
    background-image: url(img/min/44046-mulhacen-52\ 2.jpg);
}
.card-29 {
    background-image: url(img/min/4406901_torcaz_01_02.jpg);
}
.card-30 {
    background-image: url(img/min/4408401_aralar_01_02.jpg);
}
.card-31 {
    background-image: url(img/min/4409001_vaguada_01_02.jpg);
}
.card-32 {
    background-image: url(img/min/4409233_somiedo_33_02\ copy.jpg);
}
.card-33 {
    background-image: url(img/min/4409261_somiedo_61_02.jpg);
}
.card-34 {
    background-image: url(img/min/4409318_berrea-force-hi-vis_18_02.jpg);
}
.card-35 {
    background-image: url(img/min/4427208_texas-hi-vis_08_02.jpg);
}
.card-36 {
    background-image: url(img/min/4427408_game-hi-vis_08_02.jpg);
}
.card-37 {
    background-image: url(img/min/4471012_verona_12_02.jpg);
}
.card-38 {
    background-image: url(img/min/4471142_bora_42_02.jpg);
}
.card-39 {
    background-image: url(img/min/4471242_tramontana_42_02.jpg);
}
.card-40 {
    background-image: url(img/min/4476802_iceland_02_02.jpg);
}
.card-41 {
    background-image: url(img/min/4480601_balmoral_01_02.jpg);
}
.card-42 {
    background-image: url();
}
.card-43 {
    background-image: url(img/min/4484701_montreal_01_02.jpg);
}
.card-44 {
    background-image: url(img/min/4484712_montreal_12_02.jpg);
}
.card-45 {
    background-image: url();
}
.card-46 {
    background-image: url();
}
.card-47 {
    background-image: url(img/min/4406723_xacobeo_23_02.jpg);
}
.card-48 {
    background-image: url();
}
.card-49 {
    background-image: url();
}
.card-50 {
    background-image: url();
}
.card-51 {
    background-image: url();
}
.card-52 {
    background-image: url(img/min/4428013_cares_13_02.jpg);
}
.card-53 {
    background-image: url();
}
.card-54 {
    background-image: url(img/min/4491102_tribu_mid_o2_nobuck_01_02.jpg);
}
.card-55 {
    background-image: url();
}
.card-56 {
    background-image: url(img/min/4585201_aura_01.jpg);
}
.card-57 {
    background-image: url(img/min/4586601_ivar_01_01.jpg);
}
.card-58 {
    background-image: url(img/min/4587601_osiris_01_01.jpg);
}
.card-59 {
    background-image: url(img/min/4588601_sven_01_01.jpg);
}
.card-60 {
    background-image: url(img/min/4588808_egil_08_01.jpg);
}
.card-61 {
    background-image: url();
}
.card-62 {
    background-image: url();
}