:root {
    --colorChiruca: #C50215;
}

.card {
    min-width: 286px;
    margin: 15px;
}

.sold {
    position: absolute;
    top: 60px;
    left: 30px;
    transform: translate(-50%, -50%);
    transform: rotate(30deg);
    color: var(--colorChiruca);
    font-size: 48px;
    font-weight: bold;
    text-shadow: 4px 4px 5px black;
    pointer-events: none;
}

.titleOfCard {
    display: flex;
    align-items: center;
}

.title{
    font-weight: 500;
    font-size: 20px;
}

.pictogram {
    padding-left: 5px;
    height: 50px; /* żeby puste piktogramy też miały wysokość 50px */
}

.gtx {
    width: auto;
    height: 50px;
    content: url(img/GTX.png);
}

.vibram {
    width: auto;
    height: 50px;
    content: url(img/vibram.png);
}

.boa {
    width: auto;
    height: 50px;
    content: url(img/BOA.png);
}

.imgContainer {
    height: 200px;
    overflow: hidden;
}

.card-img {
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    background-size: cover;
    z-index: 0;
    transition: transform 0.5s ease-in-out;
}

.card-img:hover {
    transform: scale(1.3);
}

.card-1 {
    background-image: url(img/min/4499503_dakar_03_02.jpg);
    background-position: 0 70%;
}
.card-2 {
    background-image: url(img/min/4499509_dakar_09_02.jpg);
    background-position: 0 70%;
}
.card-3 {
    background-image: url(img/min/4485903_mijas_08_02.jpg);
    background-size: 120%;
    background-position: 55% 70%;
}
.card-4 {
    background-image: url(img/min/4485101_yaiza_0_02.jpg);
    background-size: 150%;
    background-position: 55% 70%;
}
.card-67_1 {
    background-image: url(img/min/4485103_yaiza_03_02.jpg);
    background-size: 120%;
    background-position: 55% 200%;
}
.card-5 {
    background-image: url(img/min/4485108_yaiza_08_02.jpg);
    background-size: 150%;
    background-position: 55% 70%;
}
.card-6 {
    background-image: url(img/min/4485206_cullera_06_02.jpg);
    background-size: 150%;
    background-position: 55% 70%;
}
.card-7 {
    background-image: url(img/min/4485631_malibu_31_02.jpg);
    background-size: 150%;
    background-position: 55% 70%;
}
.card-8 {
    background-image: url(img/min/4489712_cactus_12_02.jpg);
    background-size: 120%;
    background-position: 60% 70%;
}
.card-9 {
    background-image: url(img/min/4489803_bari_03_02.jpg);
    background-size: 120%;
    background-position: 60% 70%;
}
.card-10 {
    background-image: url(img/min/4490812_hidro_12_02.jpg);
}
.card-11 {
    background-image: url(img/min/4499603_cambrils_03_02.jpg);
    background-position: 60% 70%;
}
.card-12 {
    background-image: url(img/min/4499805_gandia_05_02.jpg);
    background-position: 60% 70%;
}
.card-13 {
    background-image: url(img/min/4402201_koala_01_02.jpg);
    background-size: 80%;
    background-position: 45% 70%;
}
.card-14 {
    background-image: url(img/min/44965-yucatan-pro-gtx-01-2.jpg);
    background-size: 90%;
    background-position: 45% 60%;
}
.card-15 {
    background-image: url(img/min/4414721_landes_21_02.jpg);
    background-position: 0 30%;
}
.card-16 {
    background-image: url(img/min/RABAT\ 12.jpg);
    background-size: 80%;
    background-position: 45% 60%;
}
.card-17 {
    background-image: url(img/min/4494505_gomera_05_02.jpg);
    background-size: 130%;
    background-position: 60% 60%;
}
.card-18 {
    background-image: url(img/min/4494507_gomera_07_02.jpg);
    background-size: 130%;
    background-position: 60% 60%;
}
.card-19 {
    background-image: url(img/min/4496423_sumatra_23_02.jpg);
    background-size: 130%;
    background-position: 70% 50%;
}
.card-20 {
    background-image: url(img/min/4483212_metropolitan_12_02.jpg);
    background-size: 140%;
    background-position: 50% 70%;
}
.card-21 {
    background-image: url(img/min/4483412_brithish_12_02.jpg);
    background-size: 140%;
    background-position: 50% 70%;
}
.card-22 {
    background-image: url(img/min/4427608_cares-boa-hi-vis_08_02.jpg);
}
.card-23 {
    background-image: url(img/min/4452003_urales_03_02.jpg);
}
.card-24 {
    background-image: url(img/min/4452103_canada_03_02.jpg);
}
.card-25 {
    background-image: url(img/min/44613-telma\ 03-2.jpg);
}
.card-26 {
    background-image: url(img/min/4429301_country-hi-vis_01_02.jpg);
    background-size: 90%;
    background-position: 20% 70%;
}
.card-27 {
    background-image: url(img/min/4404653_mulhacen_53_02.jpg);
    background-size: 120%;
    background-position: 70% 50%;
}
.card-28 {
    background-image: url(img/min/44046-mulhacen-52\ 2.jpg);
    background-size: 100%;
    background-position: 0 100%;
}
.card-29 {
    background-image: url(img/min/4406901_torcaz_01_02.jpg);
}
.card-30 {
    background-image: url(img/min/4408401_aralar_01_02.jpg);
    background-size: 150%;
    background-position: 50% 70%;
}
.card-31 {
    background-image: url(img/min/4409001_vaguada_01_02.jpg);
}
.card-32 {
    background-image: url(img/min/4409233_somiedo_33_02\ copy.jpg);
    background-size: 130%;
    background-position: 50% 70%;
}
.card-33 {
    background-image: url(img/min/4409261_somiedo_61_02.jpg);
    background-size: 120%;
    background-position: 50% 50%;
}
.card-34 {
    background-image: url(img/min/4409318_berrea-force-hi-vis_18_02.jpg);
    background-size: 90%;
    background-position: 50% 50%;
}
.card-35 {
    background-image: url(img/min/4427208_texas-hi-vis_08_02.jpg);
    background-size: 70%;
    background-position: 50% 50%;
}
.card-36 {
    background-image: url(img/min/4427408_game-hi-vis_08_02.jpg);
    background-size: 100%;
    background-position: 50% 150%;
}
.card-37 {
    background-image: url(img/min/4471012_verona_12_02.jpg);
    background-size: 120%;
    background-position: 50% 70%;
}
.card-38 {
    background-image: url(img/min/4471142_bora_42_02.jpg);
    background-size: 110%;
    background-position: 80% 50%;
}
.card-39 {
    background-image: url(img/min/4471242_tramontana_42_02.jpg);
    background-size: 120%;
    background-position: 60% 70%;
}
.card-40 {
    background-image: url(img/min/4476802_iceland_02_02.jpg);
}
.card-41 {
    background-image: url(img/min/4480601_balmoral_01_02.jpg);
}
.card-42 {
    background-image: url(img/min/44810-gales\ 02-2.jpg);
    background-size: 80%;
    background-position: 50% 70%;
}
.card-43 {
    background-image: url(img/min/4484701_montreal_01_02.jpg);
    background-size: 110%;
    background-position: 100% 70%;
}
.card-44 {
    background-image: url(img/min/4484712_montreal_12_02.jpg);
    background-size: 110%;
    background-position: 100% 70%;
}
.card-45 {
    background-image: url(img/min/4498502_mustang_02_02.jpg);
    background-size: 80%;
    background-position: 50% 70%;
}
.card-46 {
    background-image: url(img/min/4498509_mustang_09_02.jpg);
    background-size: 80%;
    background-position: 50% 70%;
}
.card-47 {
    background-image: url(img/min/4406723_xacobeo_23_02.jpg);
    background-size: 110%;
    background-position: 50% 0;
}
.card-48 {
    background-image: url(img/min/4414313_sarria_13_02.jpg);
    background-size: 120%;
    background-position: 50% 100%;
}
.card-49 {
    background-image: url(img/min/4414415_angliru_15_02.jpg);
    background-size: 110%;
    background-position: 50% 200%;
}
.card-50 {
    background-image: url(img/min/4414605_segovia_05_02.jpg);
    background-size: 110%;
    background-position: 50% 200%;
}
.card-51 {
    background-image: url(img/min/4414901_landes_01_01_02.jpg);
    background-size: 140%;
    background-position: 50% 60%;
}
.card-52 {
    background-image: url(img/min/4428013_cares_13_02.jpg);
    background-size: 110%;
    background-position: 50% 200%;
}
.card-53 {
    background-image: url(img/min/4476150_bisonte_50_01_02\ corregida.jpg);
}
.card-54 {
    background-image: url(img/min/4491102_tribu_mid_o2_nobuck_01_02.jpg);
    background-size: 110%;
    background-position: 50% 200%;
}
.card-55 {
    background-image: url(img/min/portabotasplegado_4599914.jpg);
    background-size: 60%;
    background-position: 50% 50%;
}
.card-56 {
    background-image: url(img/min/4585201_aura_01.jpg);
    background-size: 70%;
    background-position: 50% 50%;
}
.card-57 {
    background-image: url(img/min/4586601_ivar_01_01.jpg);
    background-size: 60%;
    background-position: 50% 50%;
}
.card-58 {
    background-image: url(img/min/4587601_osiris_01_01.jpg);
}
.card-59 {
    background-image: url(img/min/4588601_sven_01_01.jpg);
    background-size: 70%;
    background-position: 50% 50%;
}
.card-60 {
    background-image: url(img/min/4588808_egil_08_01.jpg);
    background-size: 70%;
    background-position: 50% 50%;
}
.card-61 {
    background-image: url(img/min/4586501_dahlia_01_01.jpg);
    background-size: 60%;
    background-position: 50% 50%;
}
.card-62 {
    background-image: url(img/min/4586508_dahlia_08_01.jpg);
    background-size: 60%;
    background-position: 50% 50%;
}
.card-63 {
    background-image: url(img/min/4486018_valencia_18_02.jpg);
    background-size: 120%;
    background-position: 55% 150%;
}
.card-64 {
    background-image: url(img/min/4485407_canarias_07_02.jpg);
    background-size: 120%;
    background-position: 55% 150%;
}
.card-65 {
    background-image: url(img/min/4489605_chipre_05_02.jpg);
    background-size: 120%;
    background-position: 55% 150%;
}
.card-66 {
    background-image: url(img/min/4499303_madeira_03_02.jpg);
    background-size: 120%;
    background-position: 55% 90%;
}
.card-67 {
    background-image: url("img/min/4408411_aralar_11(2).jpg");
    /* background-size: 60%; */
    background-position: 50% 70%;
}
.card-68 {
    background-image: url(img/min/4494003_aruba_03_02.jpg);
    background-size: 80%;
    background-position: 50% 200%;
}.card-69 {
    background-image: url(img/min/4494015_aruba_15_02.jpg);
    background-size: 80%;
    background-position: 50% 50%;
}
.card-70 {
    background-image: url(img/min/4494609_bavaro_09_02.jpg);
    background-size: 80%;
    background-position: 50% 50%;
}
.card-71 {
    background-image: url(img/min/4494705_camaguey_05_02.jpg);
    background-size: 80%;
    background-position: 50% 50%;
}
.card-72 {
    background-image: url("img/min/4428033_cares_33(2).jpg");
    /* background-size: 80%; */
    background-position: 50% 50%;
}
.card-73 {
    background-image: url(img/min/4430105_cloe_05_05.jpg);
    /* background-size: 80%; */
    background-position: 50% 50%;
}
.card-74 {
    background-image: url(img/min/4494401_cozumel_01_02.jpg);
    /* background-size: 80%; */
    background-position: 50% 50%;
}
.card-75 {
    background-image: url(img/min/4470007_dynamic_07_02.jpg);
    /* background-size: 80%; */
    background-position: 50% 50%;
}.card-76 {
    background-image: url("img/min/4499008_fuji_08 (2).jpg");
    /* background-size: 80%; */
    background-position: 50% 50%;
}
.card-77 {
    background-image: url("img/min/4499009_fuji_09 (2).jpg");
    /* background-size: 80%; */
    background-position: 50% 50%;
}
.card-78 {
    background-image: url("img/min/4427403_game_03(2).jpg");
    /* background-size: 80%; */
    background-position: 50% 50%;
}
.card-79 {
    background-image: url(img/min/4494301_guinea_01_02.jpg);
    /* background-size: 80%; */
    background-position: 50% 50%;
}
.card-80 {
    background-image: url("img/min/4494907_habana_lady_07(2).jpg");
    background-size: 120%;
    background-position: 50% 85%;
}
.card-81 {
    background-image: url(img/min/4426731_impala_31_02.jpg);
    background-size: 120%;
    background-position: 50% 85%;
}
.card-82 {
    background-image: url(img/min/4493605_marbella_05_02.jpg);
    background-size: 120%;
    background-position: 50% 85%;
}
.card-83 {
    background-image: url(img/min/4491203_masai_03_02.jpg);
    background-size: 120%;
    background-position: 50% 50%;
}
.card-84 {
    background-image: url("img/min/4402436_massana_36(2).jpg");
    background-size: 120%;
    background-position: 50% 80%;
}
.card-85 {
    background-image: url(img/min/4483203_metropolitan_03_02.jpg);
    background-size: 120%;
    background-position: 50% 80%;
}
.card-86 {
    background-image: url("img/min/20170317_145018_HDR\ białe\ tło.jpg");
    background-size: 60%;
    background-position: 50% 50%;
}
.card-87 {
    background-image: url(img/min/4494208_mundaka_08_02.jpg);
    background-size: 80%;
    background-position: 50% 50%;
}
.card-88 {
    background-image: url(img/min/4494213_mundaka_13_02.jpg);
    background-size: 120%;
    background-position: 50% 50%;
}
.card-89 {
    background-image: url(img/min/4407001_pointer_01_02.jpg);
    background-size: 100%;
    background-position: 50% 50%;
}
.card-90 {
    background-image: url("img/min/4429509_refugio_09(2).jpg");
    background-size: 100%;
    background-position: 50% 90%;
}
.card-91 {
    background-image: url(img/min/4480703_volcan_03_02.jpg);
    background-size: 120%;
    background-position: 50% 50%;
}
.card-92 {
    background-image: url("img/min/44067-xacobeo-05(2).jpg");
    background-size: 80%;
    background-position: 50% 50%;
}
.card-93 {
    background-image: url("img/min/44067-xacobeo-07(2).jpg");
    background-size: 80%;
    background-position: 50% 50%;
}
.card-94 {
    background-image: url("img/min/Timanfaya08.jpg");
    background-size: 80%;
    background-position: 50% 50%;
}
.card-95 {
    background-image: url("img/min/Timanfaya09.jpg");
    background-size: 80%;
    background-position: 50% 50%;
}.card-96 {
    background-image: url("img/min/Cabarceno09.jpg");
    background-size: 70%;
    background-position: 50% 70%;
}
.card-97 {
    background-image: url("img/min/Forestal.jpg");
    background-size: 70%;
    background-position: 50% 70%;
}
.card-98 {
    background-image: url("img/min/forestalForce.jpg");
    background-size: 70%;
    background-position: 50% 70%;
}
.card-99 {
    background-image: url("img/min/Tactical.jpg");
    background-size: 70%;
    background-position: 50% 70%;
}
.card-100 {
    background-image: url("img/min/Urban.jpg");
    background-size: 70%;
    background-position: 50% 70%;
}
.card-101 {
    background-image: url("img/min/4412106_llavorsi_06_02.jpg");
    background-size: 100%;
    background-position: 50% 70%;
}
.card-102 {
    background-image: url("img/min/4429930_jaguar_30_02.jpg");
    background-size: 90%;
    background-position: 50% 70%;
}
.card-103 {
    background-image: url("img/min/4483601_ottawa_01_02.jpg");
    background-size: 90%;
    background-position: 50% 70%;
}
.card-104 {
    background-image: url("img/min/4491601_soria_01_02.jpg");
    background-size: 90%;
    background-position: 50% 70%;
}
.card-105 {
    background-image: url("img/min/4499109_ARENAL_09_Chiruca7posciones_02.jpg");
    background-size: 90%;
    background-position: 50% 70%;
}
.card-106 {
    background-image: url("img/min/4491701_teruel_01_02.jpg");
    background-size: 90%;
    background-position: 50% 70%;
}
.card-107 {
    background-image: url("img/min/4491708_teruel_08_02.jpg");
    background-size: 90%;
    background-position: 50% 70%;
}
.card-108 {
    background-image: url("img/min/Timanfaya03.jpg");
    background-size: 80%;
    background-position: 50% 50%;
}