.card {
    min-width: 286px;
    margin: 15px;
}

.titleOfCard {
    display: flex;
    align-items: center;
}

.title{
    font-weight: 500;
    font-size: 20px;
}

.pictogram {
    padding-left: 5px;
    height: 50px; /* żeby puste piktogramy też miały wysokość 50px */
}

.gtx {
    width: auto;
    height: 50px;
    content: url(img/GTX.png);
}

.vibram {
    width: auto;
    height: 50px;
    content: url(img/vibram.png);
}

.boa {
    width: auto;
    height: 50px;
    content: url(img/boa.png);
}

.imgContainer {
    height: 200px;
    overflow: hidden;
}

.card-img {
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    background-size: cover;
    z-index: 0;
    transition: transform 0.5s ease-in-out;
}

.card-img:hover {
    transform: scale(1.3);
}

.card-1 {
    background-image: url(img/min/4499503_dakar_03_02.jpg);
    background-position: 0 70%;
}
.card-2 {
    background-image: url(img/min/4499509_dakar_09_02.jpg);
    background-position: 0 70%;
}
.card-3 {
    background-image: url();
}
.card-4 {
    background-image: url(img/min/4485101_yaiza_0_02.jpg);
    background-size: 150%;
    background-position: 55% 70%;
}
.card-5 {
    background-image: url(img/min/4485108_yaiza_08_02.jpg);
    background-size: 150%;
    background-position: 55% 70%;
}
.card-6 {
    background-image: url(img/min/4485206_cullera_06_02.jpg);
    background-size: 150%;
    background-position: 55% 70%;
}
.card-7 {
    background-image: url(img/min/4485631_malibu_31_02.jpg);
    background-size: 150%;
    background-position: 55% 70%;
}
.card-8 {
    background-image: url(img/min/4489712_cactus_12_02.jpg);
    background-size: 120%;
    background-position: 60% 70%;
}
.card-9 {
    background-image: url(img/min/4489803_bari_03_02.jpg);
    background-size: 120%;
    background-position: 60% 70%;
}
.card-10 {
    background-image: url(img/min/4490812_hidro_12_02.jpg);
}
.card-11 {
    background-image: url(img/min/4499603_cambrils_03_02.jpg);
    background-position: 60% 70%;
}
.card-12 {
    background-image: url(img/min/4499805_gandia_05_02.jpg);
    background-position: 60% 70%;
}
.card-13 {
    background-image: url(img/min/4402201_koala_01_02.jpg);
    background-size: 80%;
    background-position: 45% 70%;
}
.card-14 {
    background-image: url(img/min/44965-yucatan-pro-gtx-01-2.jpg);
    background-size: 90%;
    background-position: 45% 60%;
}
.card-15 {
    background-image: url(img/min/4414721_landes_21_02.jpg);
    background-position: 0 30%;
}
.card-16 {
    background-image: url(img/min/RABAT\ 12.jpg);
    background-size: 80%;
    background-position: 45% 60%;
}
.card-17 {
    background-image: url(img/min/4494505_gomera_05_02.jpg);
    background-size: 130%;
    background-position: 60% 60%;
}
.card-18 {
    background-image: url(img/min/4494507_gomera_07_02.jpg);
    background-size: 130%;
    background-position: 60% 60%;
}
.card-19 {
    background-image: url(img/min/4496423_sumatra_23_02.jpg);
    background-size: 130%;
    background-position: 70% 50%;
}
.card-20 {
    background-image: url(img/min/4483212_metropolitan_12_02.jpg);
    background-size: 140%;
    background-position: 50% 70%;
}
.card-21 {
    background-image: url(img/min/4483412_brithish_12_02.jpg);
    background-size: 140%;
    background-position: 50% 70%;
}
.card-22 {
    background-image: url(img/min/4427608_cares-boa-hi-vis_08_02.jpg);
}
.card-23 {
    background-image: url(img/min/4452003_urales_03_02.jpg);
}
.card-24 {
    background-image: url(img/min/4452103_canada_03_02.jpg);
}
.card-25 {
    background-image: url(img/min/44613-telma\ 03-2.jpg);
}
.card-26 {
    background-image: url(img/min/4429301_country-hi-vis_01_02.jpg);
    background-size: 90%;
    background-position: 20% 70%;
}
.card-27 {
    background-image: url(img/min/4404653_mulhacen_53_02.jpg);
    background-size: 120%;
    background-position: 70% 50%;
}
.card-28 {
    background-image: url(img/min/44046-mulhacen-52\ 2.jpg);
    background-size: 100%;
    background-position: 0 100%;
}
.card-29 {
    background-image: url(img/min/4406901_torcaz_01_02.jpg);
}
.card-30 {
    background-image: url(img/min/4408401_aralar_01_02.jpg);
    background-size: 150%;
    background-position: 50% 70%;
}
.card-31 {
    background-image: url(img/min/4409001_vaguada_01_02.jpg);
}
.card-32 {
    background-image: url(img/min/4409233_somiedo_33_02\ copy.jpg);
    background-size: 130%;
    background-position: 50% 70%;
}
.card-33 {
    background-image: url(img/min/4409261_somiedo_61_02.jpg);
    background-size: 120%;
    background-position: 50% 50%;
}
.card-34 {
    background-image: url(img/min/4409318_berrea-force-hi-vis_18_02.jpg);
    background-size: 90%;
    background-position: 50% 50%;
}
.card-35 {
    background-image: url(img/min/4427208_texas-hi-vis_08_02.jpg);
    background-size: 70%;
    background-position: 50% 50%;
}
.card-36 {
    background-image: url(img/min/4427408_game-hi-vis_08_02.jpg);
    background-size: 100%;
    background-position: 50% 150%;
}
.card-37 {
    background-image: url(img/min/4471012_verona_12_02.jpg);
    background-size: 120%;
    background-position: 50% 70%;
}
.card-38 {
    background-image: url(img/min/4471142_bora_42_02.jpg);
    background-size: 110%;
    background-position: 80% 50%;
}
.card-39 {
    background-image: url(img/min/4471242_tramontana_42_02.jpg);
    background-size: 120%;
    background-position: 60% 70%;
}
.card-40 {
    background-image: url(img/min/4476802_iceland_02_02.jpg);
}
.card-41 {
    background-image: url(img/min/4480601_balmoral_01_02.jpg);
}
.card-42 {
    background-image: url(img/min/44810-gales\ 02-2.jpg);
    background-size: 80%;
    background-position: 50% 70%;
}
.card-43 {
    background-image: url(img/min/4484701_montreal_01_02.jpg);
    background-size: 110%;
    background-position: 100% 70%;
}
.card-44 {
    background-image: url(img/min/4484712_montreal_12_02.jpg);
    background-size: 110%;
    background-position: 100% 70%;
}
.card-45 {
    background-image: url(img/min/4498502_mustang_02_02.jpg);
    background-size: 80%;
    background-position: 50% 70%;
}
.card-46 {
    background-image: url(img/min/4498509_mustang_09_02.jpg);
    background-size: 80%;
    background-position: 50% 70%;
}
.card-47 {
    background-image: url(img/min/4406723_xacobeo_23_02.jpg);
    background-size: 110%;
    background-position: 50% 0;
}
.card-48 {
    background-image: url(img/min/4414313_sarria_13_02.jpg);
    background-size: 120%;
    background-position: 50% 100%;
}
.card-49 {
    background-image: url(img/min/4414415_angliru_15_02.jpg);
    background-size: 110%;
    background-position: 50% 200%;
}
.card-50 {
    background-image: url(img/min/4414605_segovia_05_02.jpg);
    background-size: 110%;
    background-position: 50% 200%;
}
.card-51 {
    background-image: url(img/min/4414901_landes_01_01_02.jpg);
    background-size: 140%;
    background-position: 50% 60%;
}
.card-52 {
    background-image: url(img/min/4428013_cares_13_02.jpg);
    background-size: 110%;
    background-position: 50% 200%;
}
.card-53 {
    background-image: url(img/min/4476150_bisonte_50_01_02\ corregida.jpg);
}
.card-54 {
    background-image: url(img/min/4491102_tribu_mid_o2_nobuck_01_02.jpg);
    background-size: 110%;
    background-position: 50% 200%;
}
.card-55 {
    background-image: url(img/min/portabotasplegado_4599914.jpg);
    background-size: 60%;
    background-position: 50% 50%;
}
.card-56 {
    background-image: url(img/min/4585201_aura_01.jpg);
    background-size: 70%;
    background-position: 50% 50%;
}
.card-57 {
    background-image: url(img/min/4586601_ivar_01_01.jpg);
    background-size: 60%;
    background-position: 50% 50%;
}
.card-58 {
    background-image: url(img/min/4587601_osiris_01_01.jpg);
}
.card-59 {
    background-image: url(img/min/4588601_sven_01_01.jpg);
    background-size: 70%;
    background-position: 50% 50%;
}
.card-60 {
    background-image: url(img/min/4588808_egil_08_01.jpg);
    background-size: 70%;
    background-position: 50% 50%;
}
.card-61 {
    background-image: url(img/min/4586501_dahlia_01_01.jpg);
    background-size: 60%;
    background-position: 50% 50%;
}
.card-62 {
    background-image: url(img/min/4586508_dahlia_08_01.jpg);
    background-size: 60%;
    background-position: 50% 50%;
}