:root {
    --colorChiruca: #C50215;
}

html {
    scroll-behavior: smooth;
}

.logo {
    height: 25px;
    padding-right: 8px;
}

.introduction {
    display: flex;
    justify-content: center;
}

.scroll-fix::before {
    display: block;
    margin-top: -3rem;
    height: 3rem;
    content: '';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: var(--colorChiruca);
}

i.fa-external-link-alt {
    font-size: 0.8rem;
}

/* Parametry w galerii */

.rowsParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1400px) {
    .rowsParent {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.firstRow, .secondRow {
    display: flex;
    justify-content: center;
}

.miniPic {
    max-width: 200px;
    margin: 0 12px;
}

@media (max-width: 767px) {
    .miniPic {
        max-width: 100px;
    }
}

.img-thumbnail {
    border-radius:5px;
    margin: 12px 0;
}

.img-thumbnail:hover {
    border-color: var(--colorChiruca);
    border-radius: 20px;
    cursor: pointer;
}

/* Koniec parametrów w galerii */

.scrollTop {
    background-color: var(--colorChiruca);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    position: fixed;
    bottom: 25px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.scrollTop.active {
    bottom: 50px;
    pointer-events: auto;
    opacity: 1;
}

/* filtry */

form, .filters p {
    padding-left: 25px;
}

form {
    display: flex;
    flex-direction: row;
}

.filters {
    position: fixed;
    min-width: 400px;
    top: 30%;
    right: 0px;
    z-index: 1;
    padding: 20px;
    border-style: solid;
    border-color: var(--colorChiruca);
    border-radius: 10px;
    background-color: #fff;
    transition: transform .4s ease-in-out;
}

.activeFilters {
    transform: translateX(-200px);
}

.arrowFilters {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--colorChiruca);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    transform: translate(-50%, -50%);
}

.fa-chevron-left {
    transition: transform .4s ease-in-out;
}

.arrowRotate {
    transform: rotate(180deg);
    transition: transform .4s ease-in-out;
}