:root {
    --colorChiruca: #C50215;
}

html {
    scroll-behavior: smooth;
}

.logo {
    height: 25px;
    padding-right: 8px;
}

.introduction {
    display: flex;
    justify-content: center;
}

.scroll-fix::before {
    display: block;
    margin-top: -3rem;
    height: 3rem;
    /* background-color: pink; */
    content: '';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: var(--colorChiruca);
}

i.fa-external-link-alt {
    font-size: 0.8rem;
}

/* Parametry w galerii */

.rowsParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1400px) {
    .rowsParent {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.firstRow, .secondRow {
    display: flex;
    justify-content: center;
}

.miniPic {
    max-width: 200px;
    margin: 0 12px;
}

@media (max-width: 767px) {
    .miniPic {
        max-width: 100px;
    }
}

.img-thumbnail {
    /* border-color: #C50215; */
    border-radius:5px;
    margin: 12px 0;
}

/* dodać transition */
.img-thumbnail:hover {
    border-color: var(--colorChiruca);
    border-radius: 20px;
    cursor: pointer;
}

/* .thumbnails-list {
    background-color: purple;
    height: 150px;
    width: 700px;
} */

/* Koniec parametrów w galerii */

.scrollTop {
    background-color: var(--colorChiruca);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    position: fixed;
    bottom: 25px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.scrollTop.active {
    bottom: 50px;
    pointer-events: auto;
    opacity: 1;
}