.scroll-fix::before {
    display: block;
    margin-top: -3rem;
    height: 3rem;
    /* background-color: pink; */
    content: '';
}

.card {
    min-width: 286px;
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #C50215;
}

/* .galery {
    max-width: 1000px;
} */

.pic {
    max-height: 600px;
    object-fit: cover;
    object-position: 0 70%;
}

.img-thumbnail {
    /* border-color: #C50215; */
    border-radius:5px;
    margin: 12px 0;
}
/* dodać transition */
.img-thumbnail:hover {
    border-color: #C50215;
    border-radius: 20px;
    cursor: pointer;
}

@media (min-width:768px) {
    .img-thumbnail {
        max-width: 156px;
    }
}

/* .thumbnails-list {
    background-color: purple;
    height: 150px;
    width: 700px;
} */