.pic {
    max-height: 500px;
    object-fit: cover;
    object-position: 0 70%;
}
/* skalowanie wielkości głównego obrazka w zależności od breakpoint */
@media (max-width:992px) {
    .pic {
        max-height: 400px;
    }
}

@media (max-width:768px) {
    .pic {
        max-height: 300px;
    }
}

@media (min-width:1400px) {
    .pic {
        max-height: 600px;
    }
}
/* skalowanie wielkości głównego obrazka w zależności od breakpoin */

.height150 {
    object-position: 0 150%;
}

.height120 {
    object-position: 0 120%;
}

.height50 {
    object-position: 0 50%;
}

.height0 {
    object-position: 0 0%;
}

.scaleDown {
    max-height: 600px;
}
@media (max-width:992px) {
    .scaleDown {
        max-height: 500px;
    }
}

@media (max-width:768px) {
    .scaleDown {
        max-height: 400px;
    }
}

@media (min-width:1200px) {
    .scaleDown {
        max-height: 800px;
    }
}

.scaleDownMore {
    max-height: 600px;
}
@media (max-width:992px) {
    .scaleDownMore {
        max-height: 500px;
    }
}

@media (max-width:768px) {
    .scaleDownMore {
        max-height: 400px;
    }
}

@media (min-width:1200px) {
    .scaleDownMore {
        max-height: 900px;
    }
}